body {
    font-family: Lora, sans-serif;
}

nav {
    background-color: #fff;
}

@media (min-width: 992px) {
    .navbar-brand {
        margin-left: 80px;
    }

    .navbar-toggler {
        margin-right: 80px;
    }
}

@media (min-width: 1100px) {
    .navbar-brand {
        margin-left: 180px;
    }

    .navbar-toggler {
        margin-right: 180px;
    }
}

@media (min-width: 1400px) {
    .navbar-brand {
        margin-left: 280px;
    }

    .navbar-toggler {
        margin-right: 280px;
    }
}

.header img {
    width: 100%;
    height: auto;
}

.sun-in-the-12th {
    padding: 30px 0 20px 0;
}

.sun-in-the-12th .title-img {
    width: 10rem;
    height: 10rem;
    float: left;
    margin: 5px 20px 5px 30px;
}

.sun-in-the-12th h1 {
    margin: 0 30px 10px 30px;
}

.sun-in-the-12th .date {
    font-size: .9rem;
    margin-left: 30px;
}

.sun-in-the-12th p {
    margin-right: 30px;
    margin-left: 30px;
}

.sun-in-the-12th h2 {
    margin: 30px 0 20px 30px;
}

.sun-in-the-12th img {
    width: 100%;
    height: auto;
}

@media (min-width: 844px) {
    .sun-in-the-12th .title-img {
        margin-left: 100px;
    }

    .sun-in-the-12th p {
        margin-right: 100px;
        margin-left: 100px;
    }

    .sun-in-the-12th h1 {
        margin-left: 100px;
        margin-right: 100px;
    }

    .sun-in-the-12th h2 {
        margin-left: 100px;
    }
}

@media (min-width: 768px) {
    .sun-in-the-12th img {
        width: 500px;
        margin-left: 100px;
        margin-top: 10px;
    }
}

@media (min-width: 1100px) {
    .sun-in-the-12th .title-img {
        margin-left: 200px;
    }

    .sun-in-the-12th p {
        margin-right: 200px;
        margin-left: 200px;
    }

    .sun-in-the-12th h1, h2, h3 {
        margin-left: 200px;
        margin-right: 200px;
    }

    .sun-in-the-12th img {
        margin-left: 200px;
    }
}

@media (min-width: 1400px) {
    .sun-in-the-12th .title-img {
        margin-left: 300px;
    }

    .sun-in-the-12th p {
        margin-right: 300px;
        margin-left: 300px;
    }

    .sun-in-the-12th h1, h2, h3 {
        margin-left: 300px;
        margin-right: 300px;
    }

    .sun-in-the-12th img {
        margin-left: 300px;
    }
}

.free-consultation {
    background-image: url(../../Images/BackgroundCrop.jpg);
    background-size: cover;
    margin: 30px 0 30px 0;
    color: #fff;
    padding: 40px 0 40px 0;
    text-align: center;
}

.free-consultation h3 {
    margin: 0 30px 20px 30px;
}

.free-consultation p {
    margin: 0 30px 0 30px;
}

.free-consultation a {
    margin: 20px 0 0 0;
}

@media (min-width: 768px) {
    .free-consultation p {
        margin-right: 150px;
        margin-left: 150px;
    }
}

@media (min-width: 992px) {
    .free-consultation p {
        margin-right: 250px;
        margin-left: 250px;
    }
}

@media (min-width: 1200px) {
    .free-consultation p {
        margin-right: 350px;
        margin-left: 350px;
    }
}

@media (min-width: 1400px) {
    .free-consultation p {
        margin-right: 450px;
        margin-left: 450px;
    }
}

footer {
    /* background-color: #e8e8e8; */
}

footer .facebook, .instagram, .email {
    margin: 60px 15px 15px 20px;
}

svg {
    width: 1.4rem;
    height: 1.4rem;
    color: #000;
}

#copyright {
    width: .9rem;
    height: .9rem;
    vertical-align: text-bottom;
    color: #a0a0a0
}

.copyright {
    font-size: .7rem;
    margin-top: 10;
    margin-bottom: 20px;
    color: #a0a0a0
}