body {
    font-family: Lora, sans-serif;
}

nav {
    background-color: #fff;
}

@media (min-width: 992px) {
    .navbar-brand {
        margin-left: 80px;
    }

    .navbar-toggler {
        margin-right: 80px;
    }
}

@media (min-width: 1100px) {
    .navbar-brand {
        margin-left: 180px;
    }

    .navbar-toggler {
        margin-right: 180px;
    }
}

@media (min-width: 1400px) {
    .navbar-brand {
        margin-left: 280px;
    }

    .navbar-toggler {
        margin-right: 280px;
    }
}

h1 {
    margin-left: 15px;
}

.article-container a {
    text-decoration: none;
    color: #000;
}

.article-container img {
    width: 100%;
    height: auto;
    margin: 10px 0 10px 0;
}

.article-container h2 {
    margin: 10px 10px 0 10px;
    text-decoration: none;
    font-size: 1.5rem;
}

.article-container .date {
    margin-left: 10px;
    margin-top: 5px;
}

.article-container .description {
    margin: 10px;
    margin-bottom: 40px;
}

@media (min-width: 576px) {
    h1 {
        margin-left: 45px;
        font-size: 1.8rem;
    }

    .article-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .article-container img {
        width: 11rem;
        height: auto;
        margin: 10px 10px 10px 30px;
    }

    .article-1 {
        display: flex;
        justify-content: center;
    }

    .article-2 {
        display: flex;
        justify-content: center;
    }

    .article-container h2 {
        margin-top: 15px;
    }
}

@media (min-width: 844px) {
    h1 {
        margin-left: 100px;
    }

    .article-1 {
        margin-left: 58px;
        margin-right: 58px;
    }

    .article-2 {
        margin-left: 58px;
        margin-right: 58px;
    }
}

@media (min-width: 1100px) {
    h1 {
        margin-left: 200px;
    }

    .article-1 {
        margin-left: 158px;
        margin-right: 158px;
    }

    .article-2 {
        margin-left: 158px;
        margin-right: 158px;
    }
}

@media (min-width: 1400px) {
    h1 {
        margin-left: 300px;
    }

    .article-1 {
        margin-left: 258px;
        margin-right: 258px;
    }

    .article-2 {
        margin-left: 258px;
        margin-right: 258px;
    }
}

@media (min-width: 1052px) {
    .article-1 {
        margin-right: 20%;
    }

    .article-2 {
        margin-right: 20%;
    }
}

@media (min-width: 1220px) {
    .article-1 {
        margin-right: 30%;
    }

    .article-2 {
        margin-right: 30%;
    }
}



.free-consultation {
    background-image: url(../../Images/BackgroundCrop.jpg);
    background-size: cover;
    margin: 30px 0 30px 0;
    color: #fff;
    padding: 40px 0 40px 0;
    text-align: center;
}

.free-consultation h3 {
    margin: 0 0 20px 0;
}

.free-consultation p {
    margin: 0 30px 0 30px;
}

.free-consultation a {
    margin: 20px 0 0 0;
}

@media (min-width: 768px) {
    .free-consultation p {
        margin-right: 150px;
        margin-left: 150px;
    }
}

@media (min-width: 992px) {
    .free-consultation p {
        margin-right: 250px;
        margin-left: 250px;
    }
}

@media (min-width: 1200px) {
    .free-consultation p {
        margin-right: 350px;
        margin-left: 350px;
    }
}

@media (min-width: 1400px) {
    .free-consultation p {
        margin-right: 450px;
        margin-left: 450px;
    }
}

footer {
    /* background-color: #e8e8e8; */
}

footer .facebook, .instagram, .email {
    margin: 60px 15px 15px 20px;
}

svg {
    width: 1.4rem;
    height: 1.4rem;
    color: #000;
}

#copyright {
    width: .9rem;
    height: .9rem;
    vertical-align: text-bottom;
    color: #a0a0a0
}

.copyright {
    font-size: .7rem;
    margin-top: 10;
    margin-bottom: 20px;
    color: #a0a0a0
}